
/*
I added bootstrap for the browser reset features. (remove margins padding etc). It doesnt have to stay so if you guys see that it hinders you, it can come out. 
*/

/*
General styling for major elements
*/

html, 
body {
    height: 100%;
}


body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    transition: all 300ms;
}
/*DEFINE COLOR VARIABLES*/
:root {
    --dark: #388E3C;
    --primary: #4CAF50;
    --secondary: #72db75; /* used for input hovers. Named secondary for lack of a better idea*/
    --accent: #8BC34A;
    
}


/*
Color pallettes
*/
.dark {
    background-color: var(--dark);
}

.primary{
    background-color: var(--primary);
}

.accent {
    background-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.dark-hover:hover {
    background: var(--dark) ;
}

/*
top navbar styling
*/

.flex-fill {
    flex:1;
}


.search-bar{
    width: 150px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.font-lobster {
    font-family: 'Lobster';
}

.btn:hover {
    background-color: var(--secondary);
}

.nav-btn:active {
    background-color: var(--dark);
}

.search-input:hover {
    background-color: var(--secondary);
}

.search-input:focus {
    background-color: #fff;
}

/*
Secondary nav styles--BEGIN
*/

.secondary-nav h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

#show-menu:hover {
    cursor: pointer;
}

/*
Secondary nav styles--END
*/

/*
Main body styling--BEGIN
*/

#board-container {
    overflow-x: scroll;
}

/*
Main body styling--END
*/


/*
Sidebar drawer menu--BEGIN
*/
#sidebar {
    background: #ffffff;
    transition: 300ms;
    overflow: hidden;
    height: calc(100% - 55px);
    margin-right: -15px;
    margin-top: -55px;
    position: absolute;
    right: 15px;
    bottom: 0;
}

.sidebar-card{
    z-index:1;
    height: 100%;
}

.keep-width {
    width: 300px;
}

.closed {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: none;
}

.open {
    width: 300px;  
}

#sidebar h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0;
}

#sidebar #close-menu:hover {
    color: gray;
    cursor: pointer;
}

#sidebar .choose-color {
    height: 100px;

}

#sidebar .choose-color:hover {
    opacity: 0.8;
}

#sidebar .list-group-item:hover > span {
    opacity: 0.8;
}

#sidebar .list-group-item:hover {
    cursor: pointer;
}

#swatches {
    transition: 300ms;
}

/*
Sidebar drawer menu--END
*/

/*
Rename onlick start
*/
#rename {
    z-index: 1;
    margin-top: 10vh;
}
/*
Rename onclick end
*/

/*
card list styling start
*/

.cardlist {
    max-height: 80vh;
    width: 270px;
}

.btn-add-cardlist-div {
    width: 270px;
    min-width: 270px;
}

.btn-add-cardlist{
    width: 100%;
    
}

.cardlist-header {
    overflow: hidden;
}

.cardlist-header:focus {
    background-color: var(--secondary);
}

.cardlist-body{
    overflow-y: auto;
    min-height: 20px;
}

.btn-add-card {
    width:100%;
}

/*
card list styling end
*/


/*
card styling start
*/
.listed-card{
    background-color: white;
    word-break: break-all;
}

.cardlist-header {
    position: relative;
}

.cardlist-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.cardlist-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.card-overlay {
    background-color: none; 
    z-index: 5;
    padding: 2px;
    flex: 0 0 100%;
}

.btn-overlay {
    opacity: 0.7;
    background-color: #e2e4e6!important;
}

.btn-overlay:hover {
    opacity: 1;
}

.btn-overlay-delete:hover {
    background-color: #f46b61!important;
}

/*
card styling end
*/

/*dragging styles*/

body.dragging, body.dragging * {
  cursor: move !important;
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);

}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}






/*
media query for screens under 750px
*/
@media only screen and (max-width: 750px) {

    .logo{
        display: none;
    }

    #rename {
        margin-top: 15vh;
    }

}

/*
media query for small screens under 450px
*/
@media only screen and (max-width: 450px) {

    .btn{
        padding: 8px;
    }

    .search-bar{
        width: 30px;
    }

    .search-input {
        display: none;
    }

}
