
/*
I added bootstrap for the browser reset features. (remove margins padding etc). It doesnt have to stay so if you guys see that it hinders you, it can come out. 
*/

/*
General styling for major elements
*/
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}
/*DEFINE COLOR VARIABLES*/
:root {
    --dark: #388E3C;
    --primary: #4CAF50;
    --secondary: #72db75; /* used for input hovers. Named secondary for lack of a better idea*/
    --accent: #8BC34A;
    
}


/*
Color pallettes
*/
.dark {
    background-color: var(--dark);
}

.primary{
    background-color: var(--primary);
}

.accent {
    background-color: var(--accent);
}

.text-accent {
    color: var(--accent);
}

.dark-hover:hover {
    background: var(--dark) ;
}

/*
top navbar styling
*/

.search-bar{
    width: 150px;
}


.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.font-lobster {
    font-family: 'Lobster';
}

.btn:hover {
    background-color: var(--secondary);
}

.nav-btn:active {
    background-color: var(--dark);
}

.search-input:hover {
    background-color: var(--secondary);
}

.search-input:focus {
    background-color: #fff;
}

/*
Secondary nav styles--BEGIN
*/

.secondary-nav h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

#show-menu:hover {
    cursor: pointer;
}

/*
Secondary nav styles--END
*/

/*
Main body styling--BEGIN
*/

.main-body {
    height: 100vh;
    min-width: 100vw;
    overflow: auto;
}

/*
Main body styling--END
*/


/*
Sidebar drawer menu--BEGIN
*/
#sidebar {
    background: #ffffff;
    transition-delay: 300ms;
    max-width: 300px;
    height: calc(100% - 55px);
    margin-right: -15px;
    margin-top: -55px;
}

#sidebar h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0;
}

#sidebar #close-menu:hover {
    color: gray;
    cursor: pointer;
}

#sidebar .choose-color {
    height: 100px;
    background: red;

}


/*
Sidebar drawer menu--END
*/

/*
Rename onlick start
*/
#rename {
    z-index: 1;
}
/*
Rename onclick end
*/

/*
media query for screens under 750px
*/
@media only screen and (max-width: 750px) {

    .logo{
        display: none;
    }

}

/*
media query for small screens under 450px
*/
@media only screen and (max-width: 450px) {

    .btn{
        padding: 8px;
    }

    .search-bar{
        width: 30px;
    }

    .search-input {
        display: none;
    }

}
