
/*
I added bootstrap for the browser reset features. (remove margins padding etc). It doesnt have to stay so if you guys see that it hinders you, it can come out. 
*/

/*
General styling for major elements
*/
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}


/*removing this class makes the top nav have some left and right padding*/
.padding-sides-0 {
    padding-left: 0;
    padding-right: 0;
} 



/*
Color pallettes
*/
.dark {
    background-color: #388E3C;
}

.primary{
    background-color: #4CAF50;
}

.accent {
    background-color: #8BC34A;
}

.text-accent {
    color: #8BC34A;
}

.dark-hover:hover {
    background: #388E3C ;
}

/*
top navbar styling
*/

.search-bar{
    width: 150px;
}


.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.font-lobster {
    font-family: 'Lobster';
}

.btn:hover {
    background-color: #72db75;
}

.nav-btn:active {
    background-color: #388E3C;
}

.search-input:hover {
    background-color: #72db75;
}

.search-input:focus {
    background-color: #fff;
}

/*
Secondary nav styles--BEGIN
*/

.secondary-nav h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}


/*
Secondary nav styles--END
*/

/*
Main body styling--BEGIN
*/

.main-body {
    height: 100vh;
    min-width: 100vw;
    overflow: auto;
}

/*
Main body styling--END
*/


/*
Sidebar drawer menu--BEGIN
*/
#sidebar {
    background: #ffffff;
    transition-delay: 300ms;
    max-width: 300px;
    height: calc(100% - 55px);
    margin-right: -15px;
    margin-top: -55px;
}

#sidebar h2 {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin: 0;
}

#sidebar #close-menu:hover {
    color: gray;
    cursor: pointer;
}





/*
Sidebar drawer menu--END
*/

/*
media query for screens under 750px
*/
@media only screen and (max-width: 750px) {

    .logo{
        display: none;
    }

}

/*
media query for small screens under 450px
*/
@media only screen and (max-width: 450px) {

    .btn{
        padding: 8px;
    }

    .search-bar{
        width: 30px;
    }

    .search-input {
        display: none;
    }

}
